.content {
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
}

 .content .title { 
  text-align: center;
  font-size: 30px;
  color: #777;
  margin-top: 100px;
}
.steps {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 30px;
}
.steps .btn {  
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  flex-basis: 230px;
  font-size: 18px;
  text-align: center;
  height: 60px;
 border: 2px solid #afafaf;
 border-radius: 50px;
 margin: 10px 3%;
 padding: 1rem;
 text-decoration: none;
 font-weight: 500;
 color: #777;
 transition: all .3s;
}
.steps .btn:hover {
  background-color: #e6e6e6;
}