.header {
  box-sizing: content-box;
  background: url(./header.jpg);
  background-repeat: no-repeat;
  /*background-size: 100vw;*/
  width: 100%;
  color: #fff;
  padding: 30px;
  margin: 0;
  margin-bottom: 30px;
}
.header .content {
  max-width: 1200px;
  margin: 0 auto;
}
.header .nav-btn {
	display: inline-block;
	margin-left: 15px;
  text-decoration: none;
  color: #fff;
  
}