<!DOCTYPE html>
<html>
<head>
	<title>Fixinity</title>
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<!-- Header Section -->
	<header>
		<a href="#" class="logo"><img src="img/logo.png" height="55px"></a>
		<nav class="nav-wrapper">
			<div class="button"><a href="#" class="book-now">Book Now</a></div>		
			<ul>
				<li class="nav-btn"><a href="#">How It Works</a></li>
				<li class="nav-btn"><a href="#">Warranty</a></li>
				<li class="nav-btn"><a href="#">FAQs</a></li>
				<li class="nav-btn"><a href="#">Testimonials</a></li>
			</ul>
			<h6 class="contact-number">(415) 943 - 3888</h6>
		</nav>
	</header>

	<!-- Hero Section -->

	<section class="hero">
		<div class="bg-img" style="background-image: url('img/header_bg.jpg');"></div>
		<div class="hero-content">
			<div class="hero-text">
				<h1>Need your iPhone fixed?
				<br>We will come to you!</h1>
				<a href="#" class="hero-btn">Book Now</a>
			</div>
			<img class="hero-phone" src="img/hero-1.2.png">
		</div>
		<span class="hero-wave">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1920 204.8" style="enable-background:new 0 0 1920 204.8;" xml:space="preserve" preserveAspectRatio="none" class="svg hero__wave--svg replaced-svg">
			<style type="text/css">
				.st0{fill:#FFFFFF;}
			</style>
			<path class="st0" d="M367,41.4c235-43.3,518-74.9,736.8,23.9c121.4,54.9,250.6,103.2,395.6,103.2c116.1,0,242.4-31,383.1-114.4  c13.4-7.9,25.9-15.3,37.5-22.2v173H0l0-172C0,32.8,132,84.6,367,41.4z"></path>
			</svg>
		</span>
	</section>
</body>
</html>